
h2{
    height: 66px;
    background-color: rgb(230, 178, 116);
}
.ejer1{
    height:800px;
    padding: auto;
    width: 100%;
    background-color: rgb(233, 177, 177);
    position: relative; 
    background-position-x: 25px;   
    

}
.dominio img{
    height: 600px;
    width: 400px;
    margin-right: 30px;

    
}

.dominio{
    display: flex;
    position: relative;
    
}
.ejer2{
    background-color: rgb(186, 217, 138)
    ;
}
.forma_canonica img{
    height:600px;
    width: 500px;
    padding-right: 10%;
}
h3{
    text-align: center;
}

.ejer4{
    background-color: rgb(176, 122, 226);
}
.tiempo iframe{
    height: 600px;
    width: 900px;
    margin-right: 30px;
    
}
.ejer img{
    background-position: center;
}
footer{
    height: 66px;
    background-color: rgb(126, 33, 33);
    text-align: center;
    color: aliceblue;
    
}
footer p{
    bottom: 33px;
}
body{
    margin: 0 15%;
    background-color: rgb(167, 224, 205);
}
